/*========================================================================================
BASE
===========================================================================================*/
html{
    box-sizing: border-box;
    font-size: 65.5%;
}

*,*::before,*::after{
    box-sizing: inherit;
}
/*========================================================================================
GÉNÉRIQUE   
===========================================================================================*/
.wrapper{
    max-width: 1100px;
    margin:0 auto ;
}

a{
    text-decoration: none;
}
/*========================================================================================
COMPONENTS
===========================================================================================*/
/*header*/
header{
    background-color: #34495E;
    height: 200px;
}
header h1{
    color: white;
    font-family: "Roboto", serif;
    font-weight: 900;
    font-size: 9.6rem;
    letter-spacing: 30px;
}
header .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
    padding: 0;
    height: 200px;
}

/*section slogan*/
.slogan .wrapper{
    font-family: "Lato", serif;
    font-weight: 100;
    font-size: 4.8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    letter-spacing: 2px;
}
.slogan{
    margin: 50px 0;
}

/*section regles*/
.rond{
    width: 210px;
    height: 210px;
    color: #D35400;
    border: 5px solid #D35400;
    border-radius: 100%;
    font-family: "Quicksand", serif;
    font-weight: 700;
    font-size: 3rem;
    
    display: flex;
    justify-content: center;
    align-items: center;

}
.regles article{
    display: flex;
    align-items: center;
    gap: 70px;
}
.regles h2{
    font-family:"Quicksand", serif;
    font-size: 3.6rem;
    font-weight: 400;
}
.regles a:hover{
    background-color: #BDC3C7;
}
.regles .guillemets{
    justify-content: flex-start;
}
.regles .windows{
    justify-content: flex-start;
}
.regles .nsb{
    justify-content: flex-end;
}
.regles .line{
    justify-content: flex-end;
}

/* section info */
.info .wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    font-family:"Roboto", serif;
    font-size: 2rem;
    line-height: 40px;
    margin: 40px auto;
}
.info span{
    font-weight: bold;
}

/* footer */
footer{
    background-color: #2980B9;
}
footer .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer p {
    font-family:"Roboto", serif;
    font-size: 2rem;
}
.boutontop{
    width: 50px;
    height: 50px;
    background-color: white;
    border: 5px solid #BDC3C7;
    border-radius: 100%;
    font-size: 2.1rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
