/*========================================================================================
BASE
===========================================================================================*/
html{
    box-sizing: border-box;
    font-size: 65.5%;
}

*,*::before,*::after{
    box-sizing: inherit;
}
/*========================================================================================
GÉNÉRIQUE   
===========================================================================================*/
.wrapper{
    max-width: 1100px;
    margin:0 auto ;
}

a{
    text-decoration: none;
}
/*========================================================================================
COMPONENTS
===========================================================================================*/
/*header*/
header{
    background-color: #34495E;
}
header h1{
    color: white;
    font-family: "Roboto", serif;
    font-weight: 900;
    font-size: 9.6rem;
    letter-spacing: 36px;
}
header .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 45px;
    
}